<div [formGroup]="valueFormGroup" class="relative">
  <label *ngIf="label" [for]="controlName+'_'+'type'" class="block uppercase text-blueGray-600 text-xs font-bold mb-2">{{label}}</label>
  <div class="relative">
    <!-- If input -->
    <input
      *ngIf="type != 'textarea'"
      [type]="type"
      [id]="controlName+'_'+'type'"
      [name]="controlName"
      [formControlName]="controlName"
      [autocomplete]="random"
      class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
      [placeholder]="placeholder">


    <!-- If Textarea -->
    <textarea
      *ngIf="type == 'textarea'"
      [rows]="rows"
      [id]="controlName+'_'+type"
      [name]="controlName"
      [formControlName]="controlName"
      autocomplete="false"
      class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
      [placeholder]="placeholder">
  </textarea>

  </div>
</div>
