<div [formGroup]="valueFormGroup" class="relative">
  <label *ngIf="label" [for]="controlName+'_'+'type'" class="block mb-2 text-sm font-medium text-cyan-2">{{label}}</label>
  <div class="relative">
    <!-- If input -->
    <input
      *ngIf="type != 'textarea'"
      [type]="type"
      [id]="controlName+'_'+'type'"
      [name]="controlName"
      [formControlName]="controlName"
      [autocomplete]="random"
      class="shadow-lg text-gray-600 text-sm rounded-lg focus:ring-light-grey-700 focus:outline-none bg-light-1 block w-full p-2.5"
      [placeholder]="placeholder">
    <!-- If Textarea -->
    <textarea
      *ngIf="type == 'textarea'"
      [rows]="rows"
      [id]="controlName+'_'+type"
      [name]="controlName"
      [formControlName]="controlName"
      autocomplete="false"
      class="shadow-lg text-gray-600 text-sm rounded-lg focus:ring-light-grey-700 focus:outline-none bg-light-1 block w-full p-2.5"
      [placeholder]="placeholder">
  </textarea>
    <div class="fieldIcons">
      <button class="inline-block" type="button" *ngIf="showReveal == true" (click)="revealPass()">
        <div *ngIf="type === 'password'" class='revealDiv' [inlineSVG]="'/assets/icon/eye.svg'"></div>
        <div *ngIf="type === 'text'" class='revealDiv' [inlineSVG]="'/assets/icon/eye-off.svg'"></div>
      </button>

      <button class="inline-block" type="button" *ngIf="showCopy == true" (click)="copyToCLipboard()">
        <div class='copyDiv' [inlineSVG]="'/assets/icon/copy.svg'"></div>
      </button>

      <button class="inline-block" type="button" *ngIf="showGen == true" (click)="genpassword()">
        <div class='revealDiv' [inlineSVG]="'/assets/icon/sidebar/refresh.svg'"></div>
      </button>

    </div>
  </div>


  <div *ngIf="subtext" class="mt-1 text-xs text-light-grey-400" id="user_avatar_help">{{subtext}}</div>
  <span>{{message}}</span>
</div>
